* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: Roboto, sans-serif;
}

:root {
  --twitter-blue: #1da1f2;
}

body {
  background-color: whitesmoke;
  color: #0f1419;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}

body,
input,
textarea,
button {
  font: 400 1rem Roboto, sans-serif;
}
